/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 3em;
}

h2{
    margin-top: 0;
}

/* Defaults */
body{   
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: transparent;
    padding-bottom: 0;
}

#wb-cont{
    border-bottom: none;
    margin-top: 0.2em;
    padding-bottom: 0
}

/* Colour palette */
:root {
    --navy: #1F3269;
    --navy-light: #243875;
    --navy-lighter:#283E80;
    --navy-dark:#182851;
    --navy-darkest:#10172D;
    --baby-blue: #469EE1;
    --flat-red: #E25456;
    --fuschia: #D84190;
    --light-af: #D9E9F6;
    --teal-deal: #51E7F2;
    --parca-green: #9FC363;
    --besci-teal:#055668;
    --besci-teal-light:#0B6D83;
    --fellowship-light-af: #C7E6FF;
    --fellowship-light: #A4D1F5;
}

/* Background colors */
.bg-navy {
    background-color: var(--navy);
    color: white;
}

.bg-navy-light {
    background-color: var(--navy-light);
    color: white;
}
.bg-navy-dark {
    background-color: var(--navy-dark);
    color: white;
}
.bg-navy-darkest {
    background-color: var(--navy-darkest);
    color: white;
}

a,a:visited{
    color:var(--navy)
}

.text-white {
    color: white!important;
}

.text-red {
    color:var(--flat-red)!important;
}

.text-blue {
    color:var(--baby-blue)!important;
}

.text-parca-green {
    color:var(--parca-green)!important;
}

.text-teal {
    color:var(--teal-deal)!important;
}
.text-dark {
    color:var(--navy-darkest)!important;
}

.bg-besci-teal {
    background-color: var(--besci-teal);
    color: white;
}

.bg-fellowship-light-af {
    background-color: var(--fellowship-light-af);
    color: var(--navy-darkest);
}


.super-nav{
    width:100%;
    padding:12px 0;
    background-color: var(--navy-light);
}

.fip{
    width:220px;
}

a.language-toggle{
    text-decoration: none;
    color:white;
}

.navbar{
    margin-bottom:0;
    border-radius: 0;
    border: none;
    padding:5px 0;
}

.navbar a, .navbar>li>a,.nav>li>a:visited{
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin:auto 2.5px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav>li>a:focus, .nav>li>a:hover {
    background-color: var(--navy-dark);
    border-color: none;
    color: var(--light-af);
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;  
    height:auto;
    padding:10px 15px 0;
}

.navbar-brand img{
    display: inline-block;
    width:32px;
    margin-right:10px;
}

.navbar-toggle {
    margin-right:0;
}

@media(max-width:767px){
    .navbar-brand{
        padding-top:10px;
    }
    .navbar-brand img{
        width:40px;
    }
    .dropdown.open{
        background-color: white;
    }
    .fip{
        width:260px;
    }
    .navbar a, .navbar>li>a,.nav>li>a:visited{
        color: white;
        text-decoration: none;
        border-radius: 0;
        margin:auto 0;
    }
    
}

.container{
    max-width: 969px;
}

.d-flex{
    display:flex;
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.justify-contente-between{
    justify-content: space-between;
}


.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-overflow-scrolling: touch;
}

.bento-grid{
    padding-top:2em;
    padding-bottom:2em;
    overflow: hidden;
}

/* grid top area */

.item1 { grid-area: header;}
.item2 { grid-area: left;display: flex;
    flex-direction: column;}
.item3 { grid-area: middle;display: flex;
    flex-direction: column;}
.item4 { grid-area: right;display: flex;
    flex-direction: column;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header '
    'left middle right';
  gap: 15px;
}

@media(min-width:421px) and (max-width:991px){
    .grid-container {
        grid-template-areas:
          'header header'
          'left middle'
          'right yo';
      }
}

@media(max-width:420px){
    .grid-container {
        grid-template-areas:
          'header'
          'left'
          ' middle'
          'right';
      }
}

.grid-item-hero{
    padding: 40px;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
    height:100%;
    display: flex;
    align-items: center;
}

.grid-item-bl{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    overflow: hidden;
    flex:1;
}

.grid-item-bl-header{
    width:100%;
    height:140px;
    position: relative;
}

.grid-item-bl-header-1{
    background-image: url(../img/header-challenges.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

}

.grid-item-bl-header-2{
    background-image: url(../img/header-besci.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

}

.grid-item-bl-header-3{
    background-image: url(../img/header-fellowship.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

}

.grid-item-bl-body{
    padding:50px 20px 10px;
    position: relative;
}

.icon-business{
    width:69px;
    height:69px;
    padding:6px;
    position: relative;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -40px; */
    left:20px;
    top:100px;
}

.icon-business-1{
    background-color: var(--navy);
    border: 3px solid #36549E;
}
.icon-business-2{
    background-color: var(--besci-teal);
    border: 3px solid #0F7687;
}
.icon-business-3{
    background-color: var(--fellowship-light-af);
    border: 3px solid #EFF5F9;
}

ul.list-card{
    display: block;
}
ul.list-card li:not(:last-child){
    border-bottom: 1px solid rgba(255,255,255,.05);
}

ul.list-card.dark li:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,.1);
}

ul.list-card li a{
    display: block;
    text-decoration: none;
    padding:10px 0;
}

ul.list-card li a:hover{
    background-color: rgba(0,0,0,.1);
}

.hero-image{
    background-image: url(../img/hero-pyramid.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 100% 30px;
}

@media(min-width:768px) and (max-width:991px){
    .hero-image{
        background-image: url(../img/hero-pyramid.png);
        background-size: 420px;
        background-repeat: no-repeat;
        background-position: 144% 50%;
    }
}
@media(max-width:767px){
    .hero-image{
        background-image: url(../img/hero-pyramid.png);
        background-size: 420px;
        background-repeat: no-repeat;
        background-position: 50% 150%;
        padding-bottom:240px;
    }
    .grid-item-header{
        height:169px;
    }
}


/* buttons */

.btn {
    border: 1px solid transparent;
    border-radius: 69px;
}

.btn-primary {
    background-color: var(--navy-lighter);
    border-color:var(--navy-light);
}


.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {
    background-color: var(--navy-dark);
    border-color:var(--light-af);
}

.btn-primary.active, .btn-primary:active, .open>.btn-primary.dropdown-toggle {
    background-color: var(--navy-lighter);
    border-color:var(--light-af);
}

.btn-primary:hover {
    background-color: var(--navy-lighter);
    border-color:var(--light-af);
}

.btn-primary.focus, .btn-primary:focus {
    background-color: var(--navy-dark);
    border-color:var(--light-af);

}

.btn-outline-light{
    border: 1px solid white;
    color:white!important;
}

.btn-outline-light:hover,.btn-outline-light:active, .btn-outline-light:focus{
    border: 1px solid var(--light-af);
    background-color: transparent;
    color:var(--light-af)!important;
}


.btn-outline-dark{
    border: 1px solid var(--navy-darkest);
    color: var(--navy-darkest)!important;
}

.btn-outline-dark:hover,.btn-outline-dark:active, .btn-outline-dark:focus{
    border: 1px solid var(--navy);
    background-color: transparent;
    color:var(--navy)!important;
}


/* footer */

.footer-primary-nav a{
    color:white;
    text-decoration: none;
}
.footer-primary-nav a:hover{
    color:white;
    text-decoration: underline;
}

.gc-sub-footer {
    background: #f8f8f8;
    color: #333;
    padding:1.5em 0 2em
}

.gc-sub-footer a{
    text-decoration: none;
}

footer ul.list-inline li:not(:first-child)::before  {
    content: "•";
   
}

footer ul.list-inline li:not(:first-child) a{
    margin-left:10px
}

.gc-sub-footer-alignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gc-sub-footer-links{
    list-style: none;
}

#wb-info li{
    margin-bottom:0;
}

.footer-wordmark{
    width:140px;
    text-align: right;
}

.footer-wordmark > img{
    width: 100%;
}

footer h3{
    font-size: 1.25em;
    font-weight: 600;
}

footer li a{
    text-decoration: none;;
}

@media (max-width:991px){
    .gc-sub-footer-alignment {
        align-items: flex-end;
    }
    .footer-wordmark{
        width:120px;
        margin-top:1em;  
    }
    footer .list-inline li{
        display: block;
        margin-bottom:10px!important;
    }

    footer ul.list-inline li:not(:first-child)::before  {
        content: none;
       
    }
    
    footer ul.list-inline li:not(:first-child) a{
        margin-left:0;
    }
}
